# This is how the base.env file is structured. Not added to version control as it contain sensitive information

# Variables that are needed across Environments

# Google Cloud Env Variables
GCP_MAIN_ACCOUNT=your-account@gmail.com
GCP_BILLING_ACCOUNT=XXXXXX-XXXXXX-XXXXXX
GCP_PROJECT_ID=your-project-id
GCP_DEFAULT_REGION=europe-west3
GCP_DEFAULT_ZONE=europe-west3-c
GCP_MEMBER=serviceAccount:$(GCP_DEPLOYMENT_SERVICE_ACCOUNT)@$(GCP_PROJECT_ID).iam.gserviceaccount.com
GCP_DEPLOYMENT_SERVICE_ACCOUNT=deployment-sa
GCP_DEPLOYMENT_SERVICE_ACCOUNT_KEY_FILE=.secrets/deployment_sa_account.json
GOOGLE_APPLICATION_CREDENTIALS=.secrets/deployment_sa_account.json

# Prefect
PREFECT_API_KEY=XXXXXXXXXXXXXXXXXXXX
PREFECT_API_URL=https://api.prefect.cloud/api/accounts/<your_account_handle>/workspaces/<your_workspace_handle>
ACCOUNT_HANDLE=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
WORKSPACE_HANDLE=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
PREFECT_VERSION=2.13.0

# Python
PYTHON_VERSION=3.10

# Github
GITHUB_REPO=https://github.com/<your_username>/<your_repo_name>.git

# Unsplash
UNSPLASH_ACCESS_KEY=your_unsplash_access_key
UNSPLASH_SECRET_KEY=your_unsplash_secret_key

# Bright Data
BRIGHT_DATA_RESIDENTAL_PROXY_USERNAME=your-residential-proxy-username
BRIGHT_DATA_RESIDENTAL_PROXY_PASSWORD=your-residential-proxy-password
BRIGHT_DATA_DATACENTER_PROXY_USERNAME=your-datacenter-proxy-username
BRIGHT_DATA_DATACENTER_PROXY_PASSWORD=your-datacenter-proxy-password